{% extends 'base.html' %}
{% block content %}
<h2>Editar Dados do Usuário</h2>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="nome_usuario" class="form-control" value="{{ form.nome_usuario }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" value="{{ form.email }}" required>
    </div>

    <button class="btn btn-primary">Salvar</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
