{% extends 'base.html' %}
{% block content %}
<h2>Editar Time</h2>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="nome_time" class="form-control" value="{{ form.nome_time }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <textarea name="descricao" class="form-control">{{ form.descricao }}</textarea>
    </div>

    <button class="btn btn-primary">Salvar</button>
    <a href="{{ url_for('listar_times') }}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
